.wrapper {
  display: grid;
  place-items: center;
  min-height: 100%;
}

.wrapper img {
  image-rendering: pixelated;
}

.wrapper pre {
  white-space: pre-line;
}

.wrapper > .nes-container {
  width: 80%;
  max-width: 514px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
