html,
body {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  isolation: isolate;
}

main {
  display: block;
  overflow-y: auto;
  height: inherit;
}

.capitalize {
  text-transform: capitalize;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}
