/* @keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

.icon.trying {
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-name: shake;
  animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

.icon.trying::before {
  color: hotpink;
} */

.wrapper {
  position: absolute;
  background: transparent;
  border: none;
}

.wrapper:focus {
  outline: none;
}
