.header {
  flex: 0 1 3rem;
  min-height: 3rem;
  padding-left: 16px;
  padding-right: 16px;
}

.content {
  flex: 1 1 auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.content > section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  max-width: 55ch;
}
