.card {
  display: grid;
  place-items: center;
  min-height: 100%;
}

.card img {
  image-rendering: pixelated;
}

.card pre {
  white-space: pre-line;
}

.card > :global(.nes-container) {
  width: 80%;
  max-width: 514px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
